{
  "openapi": "3.0.2",
  "info": {
    "description": "Moov is a platform that enables developers to integrate all aspects of money movement with ease and speed. The Moov API makes it simple for platforms to send, receive, and store money. Our API is based upon REST principles, returns JSON responses, and uses standard HTTP response codes.\n",
    "title": "Moov API"
  },
  "servers": [
    {
      "url": "https://api.moov.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "API authentication",
      "description": "For server-to-server communication, use your API key's public key and secret key with Basic authentication.\n\nSet the Authorization header to `Basic <credentials>` where credentials is the Base64 encoding of public key and private key joined by a single colon `:`.\n"
    },
    {
      "name": "Access token",
      "description": "When making requests to Moov from a browser, you can use OAuth with JSON Web Tokens (JWT).\n\nOur authentication flow follows the OAuth 2.0 standard. With this endpoint, you'll create an access token that you will pass along with API requests or when initializing Moov.js.\n"
    },
    {
      "name": "Accounts",
      "description": "Accounts represent a legal entity (either a business or an individual) in Moov. You can create an account for yourself or set up accounts for others. You can retrieve an account to get details on the business or individual account holder, such as an email address or employer identification number (EIN). You can also look at the account object to see what capabilities that account has.\n"
    },
    {
      "name": "Analytics",
      "description": "You can retrieve helpful at-a-glance information about your account by getting metrics on categories such as new accounts, transfer counts, and transfer volume over different time periods. To use this endpoint, you must specify the `/analytics.read` scope.\n"
    },
    {
      "name": "Avatars",
      "description": "You can retrieve an account's profile image. This is especially useful if you'd like to use the profile image for a corresponding account in your own product.\n"
    },
    {
      "name": "Bank accounts",
      "description": "To transfer money with Moov, you’ll need to link a bank account to your Moov account, then verify that account. You can link a bank account to a Moov account by adding the bank account number and routing number to the account object. We require micro-deposit verification to reduce the risk of fraud or unauthorized activity. You can verify a bank account by initiating micro-deposits, sending two small credit transfers to the bank account you want to confirm.\nAlternatively, you can link and verify a bank account in one step through an instant account verification token from a third party provider like Plaid. Bank accounts can have the following statuses: `new`,`pending`,`verified`,`verificationFailed`,`errored`.\n"
    },
    {
      "name": "Capabilities",
      "description": "Capabilities determine what a Moov account can do. Each capability has specific information requirements, depending on risk and compliance standards associated with different account activities. For example, there are more information requirements for a business that wants to charge other accounts than for an individual who simply wants to receive funds. When you request a capability, we list the information requirements for that capability. Once you submit the required information, we need to verify the data. Because of this, a requested capability may not immediately become active. For more detailed information on Capabilities and Capability ID's please refer to Moov's <a href=\"https://docs.moov.io/guides/accounts/capabilities/\" target=\"_blank\">Guides</a> on Capabilities.\n"
    },
    {
      "name": "Card issuing",
      "description": "You can issue virtual cards with Moov that can be used for payments once they've been created."
    },
    {
      "name": "Cards",
      "description": "You can link credit or debit cards to Moov accounts. You can use a card as a source for making transfers, which charges the card. To link a card to a Moov account and avoid some of the burden of PCI compliance, use the [card link Moov Drop](https://docs.moov.io/moovjs/drops/card-link)."
    },
    {
      "name": "Enriched address",
      "description": "Search for valid addresses using a partial or full address.\n"
    },
    {
      "name": "Enriched profile",
      "description": "By supplying an email address, you can retrieve a profile with enriched data fields.\n"
    },
    {
      "name": "Industries",
      "description": "Information about industries and their merchant codes.\n"
    },
    {
      "name": "Institutions",
      "description": "Lookup ACH and wire participating financial institutions. We recommend using this endpoint when an end-user enters a routing number to confirm their bank or credit union.\n"
    },
    {
      "name": "Money movement",
      "description": "Transfer allow you Moov money\n"
    },
    {
      "name": "Payment methods",
      "description": "Payments methods represent all of the ways an account can move funds to another Moov account. Payment methods are generated programmatically when a card or bank account is added or the status is updated e.g., `ach-debit-fund` will be added as a payment method once the bank account is verified.\n\n<em>RTP® is not yet generally available on Moov. Contact us for more information.</em>\n"
    },
    {
      "name": "Representatives",
      "description": "We think of a representative as an individual who can take major actions on behalf of a business. A representative can be the business owner, or anyone who owns 25% or more of the business. Some examples of representatives are the CEO, CFO, COO, or president. We require all business accounts to have valid information for at least one representative.\n"
    },
    {
      "name": "Transactions",
      "description": "A transaction is a record of a card's activity on a particular Moov account.\n"
    },
    {
      "name": "Transfers",
      "description": "A transfer is the movement of money between Moov accounts, from source to destination. Provided you have linked a bank account which has been verified, you can initiate a transfer to another Moov account. All you need to do is note a [paymentMethod](#tag/Payment-methods), the $ amount of the transfer, and a brief description.\n"
    },
    {
      "name": "Wallets",
      "description": "A Moov wallet can serve as a funding source as you accumulate funds. You can also use the Moov wallet to:\n - Pre-fund transfers for faster payouts\n - Transfer funds between Moov wallets for instantly available funds\n\n <em> If you've requested the `send-funds` or `collect-funds` capability, the `wallet` capability will be automatically requested as well. Read more on the [data requirements for wallets here](https://docs.moov.io/guides/accounts/capabilities/#wallet).</em>\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "API authentication",
        "Access token",
        "Ping"
      ]
    },
    {
      "name": "Moov accounts",
      "description": "The Moov account represents an legal entity. It can be either a company or an individual person. Users (which represent a single human) can be assigned to a Moov account.\n",
      "tags": [
        "Accounts",
        "Representatives",
        "Capabilities"
      ]
    },
    {
      "name": "Sources",
      "description": "Information about how to add external connections you can use to top off your Moov balance or payout the balance of your Moov account.\n",
      "tags": [
        "Bank accounts",
        "Cards",
        "Card issuing",
        "Transactions",
        "Payment methods"
      ]
    },
    {
      "name": "Money movement",
      "description": "How we move money via Moov.\n",
      "tags": [
        "Transfers"
      ]
    },
    {
      "name": "Wallets",
      "description": "Everything related to holding money.\n",
      "tags": [
        "Wallets"
      ]
    },
    {
      "name": "Analytics",
      "description": "You can retrieve helpful at-a-glance information about your account by getting metrics on categories such as new accounts, transfer counts, and transfer volume over different time periods. To use this endpoint, you must specify the `/analytics.read` scope.\n",
      "tags": [
        "Analytics"
      ]
    },
    {
      "name": "Institution lookup",
      "description": "Look up financial institutions by routing number.",
      "tags": [
        "Institutions"
      ]
    },
    {
      "name": "Enrichment",
      "description": "Fetch additional information about a specific account.",
      "tags": [
        "Avatars",
        "Enriched address",
        "Enriched profile",
        "Industries"
      ]
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "CreateOAuth2Token",
        "summary": "Create access token",
        "description": "Use the client_id and client_secret to generate an access token.",
        "tags": [
          "Access token"
        ],
        "security": [
          {
            "OAuth2Credentials": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully exchanged the code to create a token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failure create token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "RevokeOAuth2Token",
        "summary": "Revoke access token",
        "description": "Allows clients to notify the authorization server that a previously obtained refresh or access token is no longer needed",
        "tags": [
          "Access token"
        ],
        "security": [
          {
            "OAuth2Credentials": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "Failed to revoke token"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "operationId": "listAccounts",
        "description": "List or search accounts to which the caller is connected.<br><br>\nAll supported query parameters are optional. If none are provided\nthe response will include all connected accounts. Pagination is\nsupported via the `skip` and `count` query parameters. \n<br><br> To list connected accounts, you must specify the `/accounts.read` scope.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter connected accounts by name.<br><br>\nIf provided, this query will attempt to find matches (including partial) against the following Account and Profile fields:\n<ul>\n  <li>Account `displayName`</li>\n  <li>Individual Profile `firstName`, `middleName`, `lastName`, and `suffix`</li>\n  <li>Individual Profile name suffix</li>\n  <li>Business Profile `legalBusinessName`, and `doingBusinessAs`</li>\n</ul>\n",
            "example": "frank",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter connected accounts by email address.<br><br>\nIt is not necessary to provided the full email address as partial matches will also be returned.\n",
            "example": "someone@moov.io",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter connected accounts by AccountType.<br><br>\nIf the `type` parameter is used in combination with `name`, only the corresponding type's name fields will be searched.\nFor example, if `type=business` and `name=moov`, the search will attempt to find matches against the display name and Business Profile name fields (`legalBusinessName`, and `doingBusinessAs`).\n",
            "example": "business",
            "schema": {
              "$ref": "#/components/schemas/AccountType"
            }
          },
          {
            "name": "foreignID",
            "in": "query",
            "description": "Serves as an optional alias from a foreign/external system which can be used to reference this resource\n",
            "example": "4528aba-b9a1-11eb-8529-0242ac13003",
            "schema": {
              "$ref": "#/components/schemas/ForeignID"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Optional parameter to limit the number of results in the query",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to offset before starting to collect the result set",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All connected accounts matching the filter parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "summary": "Create account",
        "operationId": "createAccount",
        "description": "You can create accounts for your users by passing the required information to Moov. <br><br> Note that `mode` field is only required when creating a facilitator account. All non-facilitator account creation requests will ignore the mode field provided and be set to the calling facilitator's mode. <br><br> If you are creating an account with the business type \"llc\", \"partnership\", or \"privateCorporation\", you will need to also provide [business representatives](https://docs.moov.io/api/#tag/Representatives) after creating the account for verification purposes. Once you've added your business owners as representatives, you'll then need to [patch your Moov account](https://docs.moov.io/api/#operation/patchAccount) to indicate that ownership information is complete. Read more on our [business verification requirements here](https://docs.moov.io/guides/accounts/business-verification/). <br><br> When creating an account, you will need to specify the `/accounts.write` scope.",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Account created"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}": {
      "get": {
        "summary": "Get account",
        "operationId": "getAccount",
        "description": "Retrieves details for the account with the specified ID. <br><br> To get an account, you will need to specify the `/accounts/{accountID}/profile.read` scope.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "The created account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Update account",
        "deprecated": true,
        "operationId": "updateAccount",
        "description": "The `PUT` endpoint for updating an account will be removed April 2022. Please use the `PATCH` endpoint for updating an account.  The same request payload can be used. If an account's details have changed, you can update the information associated with a specific account ID. To update an account, you need to specify the `/accounts/{accountID}/profile.write` scope. <br><br> When using this endpoint, you must provide the full account object.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Patch account",
        "operationId": "patchAccount",
        "description": "If an account's details have changed, you can patch the information associated with a specific account ID. <br><br> To patch an account, you must specify the `/accounts/{accountID}/profile.write` scope and provide the changed information. <br><br> <b>Note:</b> Most of the information in a Moov account profile can't be changed once an account has been verified or if a verification is still pending. If you need to update information in a locked state, please reach out to Moov support so we can update and verify the new information.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "The request body was invalid"
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "409": {
            "description": "Account fields locked due to verification status or account type cannot be changed"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/tos-token": {
      "get": {
        "summary": "Get terms of service token",
        "operationId": "getTermsOfServiceToken",
        "description": "Generates a token that can then be used to accept Moov's Terms of Service. Must be called from a web browser.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The newly generated Terms of Service token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsOfServiceToken"
                }
              }
            }
          },
          "422": {
            "description": "Required request headers were missing or contained unprocessable data"
          }
        }
      }
    },
    "/accounts/{accountID}/countries": {
      "get": {
        "summary": "Get Account Countries",
        "operationId": "getAccountCountries",
        "description": "Retrieve the specified countries of operation for an account. <br><br> To get the list of countries, you'll need to specify the `/accounts/{accountID}/profile.read` scope.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "The Requested Countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Assign Account Countries",
        "operationId": "assignAccountCountries",
        "description": "Assign the countries of operation for an account. This endpoint will always overwrite the previously assigned values. <br><br> To update the account countries, you'll need to specify the `/accounts/{accountID}/profile.write` scope.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Countries"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            },
            "description": "countries assigned to account"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/representatives": {
      "post": {
        "summary": "Create representative",
        "operationId": "createRepresentative",
        "description": "Moov accounts associated with businesses require information regarding individuals who represent the business. You can provide this information by creating a representative.<br><br> To create a representative, you must specify the `/accounts/{accountID}/representatives.write` scope.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepresentative"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            },
            "description": "representative created"
          },
          "404": {
            "description": "The specified Account or Representative was not found"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List representatives",
        "operationId": "listRepresentatives",
        "description": "A Moov account may have multiple representatives depending on the associated business's ownership and management structure. You can use this method to list all the representatives for a given Moov account. Note that Moov accounts associated with an individual do not have representatives. <br><br> To list representatives, you need to specify the `/accounts/{accountID}/representatives.read` scope.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved representatives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Representative"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/representatives/{representativeID}": {
      "get": {
        "summary": "Get representative",
        "operationId": "getRepresentative",
        "description": "Retrieve a specific representative associated with a given Moov account. <br><br> To get a representative, you'll need to specify the `/accounts/{accountID}/representatives.read` scope.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "responses": {
          "200": {
            "description": "The Representative",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "404": {
            "description": "No Representative with the specified representativeID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Delete a representative",
        "operationId": "deleteRepresentative",
        "description": "Deletes a business representative associated with a Moov account. <br><br> To use this endpoint, you'll need to specify the `/accounts/{accountID}/representatives.write` scope.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "responses": {
          "204": {
            "description": "Representative deleted"
          },
          "404": {
            "description": "The specified Account or Representative was not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Update representative",
        "deprecated": true,
        "operationId": "updateRepresentative",
        "description": "The `PUT` endpoint for updating a representative will be removed April 2022. Please use the `PATCH` endpoint for updating a representative. The same request payload can be used. If a representative's information has changed and you need to update it, you can use this method to change any of the fields associated with that particular representative. <br><br> To update a representative, you'll need to specify the `/accounts/{accountID}/representatives.write` scope.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRepresentative"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            },
            "description": "representative updated"
          },
          "404": {
            "description": "The specified account or representative was not found"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Patch representative",
        "operationId": "patchRepresentative",
        "description": "If a representative's information has changed you can patch the information associated with a specific representative ID. <br><br> To patch a representative, you'll need to specify the `/accounts/{accountID}/representatives.write` scope and provide the changed information. <br><br> <b>Note:</b> Most of the information in a Moov account profile can't be changed once an account has been verified or if a verification is still pending. If you need to update information in a locked state, please reach out to Moov support so we can update and verify the new information.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRepresentativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            },
            "description": "representative patched"
          },
          "404": {
            "description": "The specified account or representative was not found"
          },
          "409": {
            "description": "Representative fields locked due to verification status"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/wallets": {
      "get": {
        "summary": "List wallets",
        "description": "List the wallets associated with a Moov account. <br><br> To list wallets, you'll need to specify the `/accounts/{accountID}/wallets.read` scope.",
        "operationId": "listWalletsForAccount",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets associated with the given account",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/wallets/{walletID}": {
      "get": {
        "summary": "Get wallet",
        "description": "Get information on a specific wallet (e.g., the available balance). <br><br> To get wallet information, you'll need to specify the `/accounts/{accountID}/wallets.read` scope.",
        "operationId": "getWalletForAccount",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "in": "path",
            "name": "walletID",
            "required": true,
            "description": "The walletID for the wallet associated with an account",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets associated with the given account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "summary": "Create a transfer",
        "description": "Move money by providing the source, destination, and amount in the request body. The path must indicate the platform account initiating the transfer via the URL parameter accountID. <br><br> To create a transfer, you must specify the `/accounts/{yourAccountID}/transfers.write` scope. <br> You can find your account id on the [Business details](https://dashboard.moov.io/settings/business) page.",
        "operationId": "createTransfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "description": "Prevents duplicate transfers from being created",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "X-Wait-For",
            "description": "Optional header that indicates whether to return a synchronous response that includes full transfer and rail-specific details or an asynchronous response indicating the transfer was created (this is the default response if the header is omitted).",
            "schema": {
              "$ref": "#/components/schemas/WaitFor"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransfer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferPostResponse"
                }
              }
            }
          },
          "202": {
            "description": "A transfer was successfully created but a timeout occurred while waiting for a synchronous response. Rail-specific details may be missing from the response object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransferFull"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate transfer attempted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransferFull"
                }
              }
            }
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List transfers",
        "description": "List all the transfers associated with a particular Moov account. <br><br> To list transfers, you must specify the `/accounts/{yourAccountID}/transfers.read` scope. The accountID included must be your facilitator accountID. <br> You can find your accountID on the [Business details](https://dashboard.moov.io/settings/business) page.",
        "operationId": "listTransfers",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "List of transfers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransfers"
                },
                "examples": {
                  "getTransfers": {
                    "$ref": "#/components/examples/getTransfers"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "accountIDs",
            "schema": {
              "type": "string"
            },
            "allowReserved": true,
            "description": "Optional, comma-separated account IDs in which the response is filtered based on whether the account ID is the source or destination.",
            "example": "9506dbf6-4208-44c3-ad8a-e4431660e1f2,3f9969cf-a1f3-4d83-8ddc-229a506651cf,9fdb70f8-79f5-4016-853e-34c40c3b09b0"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/TransferStatus"
            },
            "description": "Optional transfer status by which to filter the transfers."
          },
          {
            "in": "query",
            "name": "startDateTime",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            },
            "description": "Optional date-time which inclusively filters all transfers created after this starting date-time.",
            "example": "2009-11-10T23:00:00Z"
          },
          {
            "in": "query",
            "name": "endDateTime",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            },
            "description": "Optional date-time which exclusively filters all transfers created before this date-time.",
            "example": "2009-11-13T01:00:00Z"
          },
          {
            "in": "query",
            "name": "groupID",
            "schema": {
              "type": "string"
            },
            "description": "Optional ID to filter for transfers in the same group.",
            "example": "683660e3-218c-4f5a-b193-930bd6d2f98e"
          },
          {
            "in": "query",
            "name": "count",
            "description": "Optional parameter to limit the number of results in the query",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "skip",
            "schema": {
              "type": "string"
            },
            "description": "The number of items to offset before starting to collect the result set",
            "example": 10
          },
          {
            "in": "query",
            "name": "refunded",
            "schema": {
              "type": "boolean"
            },
            "description": "Optional paramter to only return refunded transfers",
            "example": false
          }
        ]
      }
    },
    "/transfers/{transferID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/parameters-AccountID"
        },
        {
          "$ref": "#/components/parameters/TransferID"
        }
      ],
      "get": {
        "summary": "Get a transfer",
        "description": "Retrieve full transfer details such as the amount, source, and destination. Payment rail-specific details are included in the source and destination. <br><br> To get a transfer, you must specify the `/accounts/{yourAccountID}/transfers.read` scope. The accountID included must be your facilitator accountID. <br> You can find your accountID on the [Business details](https://dashboard.moov.io/settings/business) page.",
        "operationId": "getTransfer",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "Details of a transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransferFull"
                },
                "examples": {
                  "getTransfer": {
                    "$ref": "#/components/examples/getTransfer"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Patch transfer metadata",
        "description": "Update the metadata contained on a transfer <br><br> To patch a transfer, you must specify the `/accounts/{yourAccountID}/transfers.write` scope. The accountID included must be your facilitator accountID. <br> You can find your account ID on the [Business details](https://dashboard.moov.io/settings/business) page.",
        "operationId": "patchTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTransfer"
              }
            }
          }
        },
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "Details of a transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransferFull"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/transfer-options": {
      "post": {
        "summary": "Get transfer options",
        "description": "Generate available payment method options for one or multiple transfer participants depending on the accountID or paymentMethodID you supply in the request. <br><br> To get transfer options, you must specify the `/accounts/{yourAccountID}/transfers.read` scope. The accountID you include should be associated with the facilitator account. <br> You can find your accountID on the [Business details](https://dashboard.moov.io/settings/business) page.\n",
        "operationId": "createTransferOptions",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesfully created transfer options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedTransferOptions"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/transfers/{transferID}/refunds": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TransferID"
        }
      ],
      "post": {
        "summary": "Refund a transfer",
        "description": "Initiate a refund for a card transfer",
        "operationId": "refundTransfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "description": "Prevents duplicate transfers from being created",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated a card refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedRefund"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "Get a list of refunds for a card transfer",
        "description": "Get a list of refunds for a card transfer",
        "operationId": "getRefunds",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefunds"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/transfers/{transferID}/refunds/{refundID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TransferID"
        },
        {
          "$ref": "#/components/parameters/RefundID"
        }
      ],
      "get": {
        "summary": "Get refund details",
        "description": "Get details of a specific refund",
        "operationId": "getRefund",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefund"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/bank-accounts": {
      "post": {
        "summary": "Bank account",
        "operationId": "bankAccount",
        "description": "Link a bank account to an existing Moov account. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponse"
                }
              }
            },
            "description": "Bank account added"
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List bank accounts",
        "operationId": "listBankAccounts",
        "description": "List all the bank accounts associated with a particular Moov account. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.read` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccounts"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/bank-accounts/{bankAccountID}": {
      "get": {
        "summary": "Get bank account",
        "operationId": "getBank",
        "description": "Retrieve bank account details (i.e. routing number or account type) associated with a specific Moov account. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.read` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/BankAccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved bank account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Disable bank account",
        "operationId": "deleteBank",
        "description": "Discontinue using a specified bank account linked to a Moov account. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/BankAccountID"
          }
        ],
        "responses": {
          "204": {
            "description": "Bank account disabled"
          },
          "404": {
            "description": "No bank account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/bank-accounts/{bankAccountID}/micro-deposits": {
      "post": {
        "summary": "Initiate micro-deposits",
        "operationId": "initiateMicroDeposits",
        "description": "Micro-deposits help confirm bank account ownership, helping reduce fraud and the risk of unauthorized activity. Use this method to initiate the micro-deposit verification, sending two small credit transfers to the bank account you want to confirm. If you request micro-deposits before 4:15PM ET, they will appear that same day. If you request micro-deposits any time after 4:15PM ET, they will appear the next banking day. <br><br> `sandbox` - Micro-deposits initiated for a `sandbox` bank account will always be `$0.00` / `$0.00` and instantly verifiable once initiated. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/BankAccountID"
          }
        ],
        "responses": {
          "204": {
            "description": "Micro-Deposits Successfully initiated"
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "422": {
            "description": "The bank account is not a bank account or is already pending verification"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Complete micro-deposits",
        "operationId": "completeMicroDeposits",
        "description": "Complete the micro-deposit validation process by passing the amounts of the two transfers. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write` scope.",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/BankAccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteMicroDepositsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Micro-Deposits Successfully verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteMicroDepositsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "422": {
            "description": "The amounts provided are incorrect or micro-deposits haven't been sent for the source."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/cards": {
      "post": {
        "servers": [
          {
            "url": "https://cards.moov.io/api",
            "description": "Production"
          }
        ],
        "summary": "Link card",
        "operationId": "card",
        "description": "Link a card to an existing Moov Account. Only use this endpoint if you have provided Moov with a copy of your PCI attestation of compliance.\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "in": "header",
            "name": "X-Wait-For",
            "description": "Optional header that indicates whether to return a synchronous response or an asynchronous response.",
            "schema": {
              "$ref": "#/components/schemas/schemas-WaitFor"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            },
            "description": "Card linked"
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List cards",
        "operationId": "listCards",
        "description": "List all the cards associated with a Moov account.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cards"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/cards/{cardID}": {
      "get": {
        "summary": "Get card",
        "operationId": "getCard",
        "description": "Retrieve all the cards associated with a Moov account.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CardID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "summary": "Disable card",
        "operationId": "deleteCard",
        "description": "Disables a card associated with a Moov account.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CardID"
          }
        ],
        "responses": {
          "204": {
            "description": "Card disabled"
          },
          "404": {
            "description": "No card with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/issuing/{accountID}/issued-cards": {
      "post": {
        "summary": "Request card",
        "operationId": "requestCard",
        "description": "Request a virtual card be created\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Card issuing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCard"
                }
              }
            },
            "description": "Card created"
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List issued cards",
        "operationId": "listIssuedCards",
        "description": "List Moov issued cards existing to the account\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Card issuing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCards"
                }
              }
            },
            "description": "Card created"
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/issuing/{accountID}/issued-cards/{cardID}": {
      "get": {
        "summary": "Get issued card",
        "operationId": "getIssuedCard",
        "description": "Retrieve a single issued card associated with a Moov account\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Card issuing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CardID"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCard"
                }
              }
            },
            "description": "Card created"
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Update issued card",
        "operationId": "updateIssuedCard",
        "description": "Update a Moov issued card\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Card issuing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CardID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIssuedCard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card created"
          },
          "404": {
            "description": "No issued card with the specified accountID and cardID was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/issuing/{accountID}/issued-cards/{cardID}/details": {
      "get": {
        "summary": "Get full card details",
        "operationId": "getFullIssuedCard",
        "description": "Get issued card with PAN, CVV, and expiration\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Card issuing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CardID"
          }
        ],
        "responses": {
          "200": {
            "description": "Card created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullIssuedCard"
                }
              }
            }
          },
          "404": {
            "description": "No issued card with the specified accountID and cardID was found. An error will be returned\nfor cards without PAN or CVV. Pending cards will not have a PAN or CVV.\n"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/issuing/{accountID}/transactions": {
      "get": {
        "summary": "Get account transactions",
        "operationId": "listAccountIssuedCardTransactions",
        "description": "List issued card transactions associated with a Moov account\n\nNote that this endpoint is from the `https://cards.moov.io/api` domain.\n",
        "servers": [
          {
            "url": "https://cards.moov.io",
            "description": "Moov PCI environment"
          }
        ],
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCardTransactions"
                }
              }
            },
            "description": "Card created"
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/payment-methods": {
      "get": {
        "summary": "Get payment methods",
        "operationId": "getPaymentMethods",
        "description": "Retrieve all of the payment methods associated with a Moov account. <br><br> To get payment methods, you must specify the `/accounts/{accountID}/payment-methods.read` scope.",
        "tags": [
          "Payment methods"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "name": "sourceID",
            "in": "query",
            "required": false,
            "description": "Optional parameter to filter the account's payment methods by source ID.",
            "example": "ec7e1848-dc80-4ab0-8827-dd7fc0737b43",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethods"
                }
              }
            }
          },
          "404": {
            "description": "No account with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/payment-methods/{paymentMethodID}": {
      "get": {
        "summary": "Get payment method",
        "operationId": "getPaymentMethod",
        "description": "Get the specified payment method associated with a Moov account. <br><br> To get a payment method, you must specify the `/accounts/{accountID}/payment-methods.read` scope.",
        "tags": [
          "Payment methods"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/PaymentMethodID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "404": {
            "description": "No payment method with the specified accountID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/capabilities/{capabilityID}": {
      "get": {
        "summary": "Get capability for account",
        "operationId": "getCapability",
        "description": "Retrieve a specific capability that an account has requested. <br><br> To use this endpoint, you must specify the `/accounts/{accountID}/capabilities.read` scope.",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CapabilityID"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified capabilityID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Disable a capability for an account",
        "operationId": "disableCapability",
        "description": "Disable a specific capability that an account has requested. <br><br> To use this endpoint, you must specify the `/accounts/{accountID}/capabilities.write` scope.",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/CapabilityID"
          }
        ],
        "responses": {
          "204": {
            "description": "The capability has been disabled."
          },
          "404": {
            "description": "No Account with the specified capabilityID was found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/capabilities": {
      "get": {
        "summary": "List capabilities for account",
        "operationId": "listCapabilities",
        "description": "Retrieve all the capabilities an account has requested. <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/capabilities.read` scope.",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of capabilities for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capability"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "summary": "Request capabilities",
        "operationId": "addCapabilities",
        "description": "Request capabilities for a specific account. <br><br> To use this endpoint, you must specify the `/accounts/{accountID}/capabilities.write` scope.",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCapabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of capabilities for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capability"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Account with the specified accountID was found"
          },
          "409": {
            "description": "The request could not be processed due to a state conflict with the target resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityRequestError"
                }
              }
            }
          },
          "422": {
            "description": "The request body could not be processed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/industries": {
      "get": {
        "summary": "List all industries",
        "operationId": "listIndustries",
        "description": "Returns a list of all industry titles and their corresponding MCC/SIC/NAICS codes. Results are ordered by title.\n<br><br> To list industries, you must specify the `/profile-enrichment.read` scope.\n",
        "tags": [
          "Industries"
        ],
        "responses": {
          "200": {
            "description": "A list of industries and their codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Industries"
                }
              }
            }
          }
        }
      }
    },
    "/institutions/{rail}/search": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Search institutions",
        "description": "Search for institutions by their routing number or name. <br><br> To use this endpoint, you need to specify the `/fed.read` scope.",
        "operationId": "searchInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Rail"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the financial institution",
            "example": "Farmers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingNumber",
            "in": "query",
            "description": "Routing number for a financial institution",
            "example": 44112187,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Optional parameters to filter results",
            "example": "IA",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Optional parameter to limit the amount of results in the query",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to offset before starting to collect the result set",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial institutions returned from a search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialInstitutions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Internal error, check error(s) and report the issue."
          }
        }
      }
    },
    "/avatars/{uniqueID}": {
      "get": {
        "summary": "Get avatar",
        "operationId": "getAvatar",
        "description": "Get avatar image for an account using a unique ID.\n<br><br> To get an avatar, you must specify the `/profile-enrichment.read` scope.\n",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UniqueID"
          }
        ],
        "responses": {
          "200": {
            "description": "The avatar image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "No image with the specified uniqueID was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/enrichment/address": {
      "get": {
        "summary": "Get address suggestions",
        "operationId": "getEnrichmentAddress",
        "description": "Fetch enriched address suggestions. Requires a partial address.\n<br><br> You must specify the `/profile-enrichment.read` scope.\n",
        "tags": [
          "Enriched address"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Partial or complete address to search.\n",
            "example": "123 Main Street",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.\n",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeCities",
            "in": "query",
            "description": "Limits results to a list of given cities.\n",
            "example": "chicago;honolulu;portland",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeStates",
            "in": "query",
            "description": "Limits results to a list of given states.\n",
            "example": "illinois;hawaii;oregon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeZipcodes",
            "in": "query",
            "description": "Limits results to a list of given zipcodes.\n",
            "example": "60412;96818;97209",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeStates",
            "in": "query",
            "description": "Exclude list of states from results. No `include` pararmeters may be used with this parameter.\n",
            "example": "AZ;WA;SC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferCities",
            "in": "query",
            "description": "Display results with the listed cities at the top.\n",
            "example": "denver;aurora;omaha",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferStates",
            "in": "query",
            "description": "Display results with the listed states at the top.\n",
            "example": "CO;MN;WI",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferZipcodes",
            "in": "query",
            "description": "Display results with the listed zipcodes at the top.\n",
            "example": "60412;96818;97209",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferRatio",
            "in": "query",
            "description": "Specifies the percentage of address suggestions that should be preferred and will appear at the top of the results.\n",
            "example": 45,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "preferGeolocation",
            "in": "query",
            "description": "If omitted or set to `city` it uses the sender's IP address to determine location, then automatically adds the city and state to the preferCities value. This parameter takes precedence over other `include` or `exclude` parameters meaning that if it is not set to `none` you may see addresses from areas you do not wish to see.\n",
            "example": "none",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selected",
            "in": "query",
            "description": "Useful for narrowing results with `addressLine2` suggestions such as `Apt` (denotes an apartment building with multiple residences).\n",
            "example": "Apt",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Include results from alternate data sources. Allowed values are -- `all` (non-postal addresses) or `postal` (postal addresses only).\n",
            "example": "all",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnrichmentAddress"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/enrichment/profile": {
      "get": {
        "summary": "Get enriched profile",
        "operationId": "getEnrichmentProfile",
        "description": "Fetch enriched profile data. Requires a valid email address.\n<br><br> To get enriched profile information, you must specify the `/profile-enrichment.read` scope.\n",
        "tags": [
          "Enriched profile"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Valid email address belonging to the profile of interest\n",
            "example": "employee@business.com",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The enriched profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No profile found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The service is unavailable"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/analytics/transfers/sum": {
      "post": {
        "summary": "Sum all transfers across intervals",
        "operationId": "analyticsTransferSum",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransferSums"
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/analytics/transfers/largest": {
      "post": {
        "summary": "Return the largest number of transfers",
        "operationId": "analyticsTransferLargest",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitedTimeRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpecificTransfers"
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/analytics/transfers/smallest": {
      "post": {
        "summary": "Return the smallest number of transfers",
        "operationId": "analyticsTransferSmallest",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitedTimeRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpecificTransfers"
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/analytics/transfers/statuses": {
      "post": {
        "summary": "Count the transfer statuses",
        "operationId": "analyticsTransferStatuses",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransferStatusCounts"
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/analytics/accounts/profiles-created": {
      "post": {
        "summary": "Count the number of profiles created by an individual or business",
        "operationId": "analyticsAccountsCreated",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfilesCreated"
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "description": "Error response for http requests that failed",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "example": "micro deposits values are incorrect",
            "type": "string"
          }
        }
      },
      "AccountCreated": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string",
            "description": "ID of the account"
          }
        }
      },
      "AcountUpdated": {
        "$ref": "#/components/schemas/AccountUpdated"
      },
      "AccountDeleted": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string",
            "description": "ID of the account"
          }
        }
      },
      "RepresentativeCreated": {
        "type": "object",
        "properties": {
          "representativeID": {
            "type": "string",
            "description": "ID of the representative"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account"
          }
        }
      },
      "RepresentativeUpdated": {
        "type": "object",
        "properties": {
          "representativeID": {
            "type": "string",
            "description": "ID of the representative"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account"
          }
        }
      },
      "RepresentativeDeleted": {
        "type": "object",
        "properties": {
          "representativeID": {
            "type": "string",
            "description": "ID of the representative"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account"
          }
        }
      },
      "CapabilityRequested": {
        "type": "object",
        "properties": {
          "capabilityID": {
            "type": "string",
            "description": "ID of the capability"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account requesting the capability"
          }
        }
      },
      "CapabilityUpdated": {
        "type": "object",
        "properties": {
          "capabilityID": {
            "type": "string",
            "description": "ID of the capability"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account requesting the capability"
          },
          "status": {
            "type": "string",
            "description": "Status of the capability"
          }
        }
      },
      "BankAccountCreated": {
        "type": "object",
        "properties": {
          "bankAccountID": {
            "type": "string",
            "description": "ID of the bank account"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account where the bank account was created"
          }
        }
      },
      "BankAccountUpdated": {
        "type": "object",
        "properties": {
          "bankAccountID": {
            "type": "string",
            "description": "ID of the bank account"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account where the bank account was updated"
          },
          "status": {
            "type": "string",
            "description": "Status of the bank account"
          }
        }
      },
      "BankAccountDeleted": {
        "type": "object",
        "properties": {
          "bankAccountID": {
            "type": "string",
            "description": "ID of the bank account"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the account where the bank account was deleted"
          }
        }
      },
      "TransferCreated": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string",
            "description": "ID of the facilitator account"
          },
          "transferID": {
            "type": "string",
            "description": "ID of the transfer"
          },
          "status": {
            "type": "string",
            "description": "Status of the transfer"
          }
        }
      },
      "TransferUpdated": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string",
            "description": "ID of the facilitator account"
          },
          "transferID": {
            "type": "string",
            "description": "ID of the transfer"
          },
          "status": {
            "type": "string",
            "description": "Status of the transfer"
          },
          "source": {
            "$ref": "#/components/schemas/TransferPaymentMethod"
          },
          "destination": {
            "$ref": "#/components/schemas/TransferPaymentMethod"
          }
        }
      },
      "PaymentMethodEnabled": {
        "type": "object",
        "properties": {
          "paymentMethodID": {
            "type": "string",
            "description": "ID of the payment method"
          },
          "accountID": {
            "type": "string",
            "description": "ID of the facilitator account"
          },
[...]
